@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400&display=swap');
@font-face {
    font-family: "Hellobaby";
    src: url("hellobaby-webfont.woff") format("woff");
    src: url("hellobaby-webfont.woff2") format("woff2");
    
    }
* {
    font-family: 'Albert Sans', sans-serif;
    color: #411530;
    font-size: 23px ;
    margin: 0;
    box-sizing: border-box;

}
body {
    background-color: #FCF5F3;
}
h1 {
    font-family: Hellobaby;
    color: #D1512D;
}
.dog-pic {
    box-shadow: 0 0 25px #d1512dc0;
    
}
.dog-pat {
    background-image: url(assets/dog-hand.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.btn-orange {
    color: white;
    background-color: #D1512D;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-orange:hover {
    box-shadow: 0 0 20px #ee7031;
    background-color: #ec5b32;
    transform: scale(1.07);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hero-bg {
    background-image: url(assets/line-dog.svg), url(assets/line-map.svg);
    background-repeat: no-repeat;
    background-position: 100% 70%, 0% 40px;
}
@media screen and (max-width: 472px) {
    .main-pic {
    
        width: 100%;
        height: 400px;
    }
    .main-pic>div {
        width: 6rem;
        height: 6rem;
        left: 80px;
    }
    * {
        font-size: 18px ;
    }
    .dog-pic {
        width: 200px;
        border-radius: 50px;
    }
    .dog-pic:nth-of-type(2) {
        left: 80px;
        top: 160px;
    }
    .dog-pic:first-of-type {
    
     
    }
}